

html{
    scroll-behavior: smooth;
}
.partie-1{
   max-height: 30px;
    display:grid; 
    align-items: center;
    grid-template-columns: 50% 50%;
    padding: 0 0px 0px 8px;
    background-color: rgb(207, 60, 7);

    position: fixed;
}
h6{
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: left;
}
.partie-1 ul{
    display: flex;
    flex: 1;
    margin-left: 70%;
}
.partie-1 ul li {
    list-style: none;
    margin: 5px;
}
nav{
    /* background-color: #c7bfaf; bg-body-tertiary */
    margin-top: 30px;
}
.navbar-custom {
    transition: all 0.3s ease;
}
.navbar-scrolled {
    background-color: #343a40;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
   outline: none;
   box-shadow: none;
}
.cc-navbar{
    background-color: #F1ECE3;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 1px 3px rgba(255,255,255,0.54);
}
.cc-navbar form button{
    background-color: #cf9c3b;
}
.cc-navbar .nav-link {
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.2s ease;
}
.cc-navbar .nav-link:hover, .nav-link:active {
    color: #a87d2c;
    padding-bottom: 20px;
    border-bottom-color: var(--bs-warning);
}
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #cf9c3b;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.cc-navbar .btn.clicked {
    color: #a87d2c;
    font-weight: 600;
} 
/* .....................PARTIE SECTION ACCUEIL ............................ */

.principal{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/fond01.jpg) center center fixed no-repeat;
    height: 800px;
    background-size: cover;
    margin: 0 30px;
    padding: 20px;

}
.principal button{
    background-color: #cf9c3b;
}
h4{
    font-size: 24px;
    font-weight: 200;
    font-family: serif;
    color: #ffff;
    text-transform: uppercase;
    text-align: center;

}
h2{
    font-size: 48px;
    font-weight: 400;
    font-family: impact, serif;
    color: #a87d2c;
    text-align: center;
}
/* nav, form{
    width: 50%;
    text-align: center;
} */
 /*..................Galerie.....................*/
.carousel-indicators [data-bs-target] {
  width: 30px;
  height: 3px;
  margin: 0 3px;
  opacity: 0.5;
  background-color: white;
  transition: opacity 0.6s ease;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: white;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

/* .....................Reservation.................... */

.order-form {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/restaurant-interieur.jpg) center center fixed no-repeat;
    height: 700px;
    background-size: cover;
}
.order-form form{
    padding-top: 125px;
}
.order-form h2{
    font-size: 36px;
    font-family: serif;
    color: #ffff;
}
/* .order-form form select, input{
    background-color: black;
    opacity: 0.5;
    color: #fff;
    
} */
.order-form form button{
    text-align: center;
    margin: 20px;
    width: 100px;
    
}

/* .................PARTIE MENU............... */

.cc-menu {
     background: linear-gradient(#F1ECE3), fixed no-repeat;

    height: 1800px;
    margin: 5px 30px;
    padding-top: calc(100px + 1rem);
    background-color: #F1ECE3;
}
.cc-menu .enTete {
    display: grid;
    text-align: center;
    grid-template-columns: auto;
}

.cc-menu .enTete h6 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-align: center;
}
.cc-menu .enTete h1{
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 0.35rem;
    color: #b64225;
}
.cc-menu .enTete ul {

    list-style-type: none;
    justify-content: space-between;
    margin: 0 10%;
}
.cc-menu .enTete ul li {
    width: 180px;
    border-radius: 10px;
    background-color: #cf9c3b;
    color: #000;
}
#premierTrait{
    height: 1PX;
    width: 100%;
     background-color: #000;
    margin: auto;
    box-shadow: 1px 3px 2px rgb(75, 74, 74);
}
.cc-menu .card-body .card-prix {
    font-size: 20px;
    font-weight: 500;
    text-align: right;
}

#deuxiemeTrait{
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: auto;
    box-shadow: 1px 3px 2px rgb(75, 74, 74);
}